{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	<style type="text/css">
		.container{
			max-width: 1130px;
			width: 1130px;
		}
		label{
			font-weight: 400;
			font-size: 1.3em;
			display: block;
			margin-top: -10px;
		}
	</style>
</head>
<body>
<center>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<label>MATEO ROCHA No. 3421 COL. LOMA BONITA C.P. 80180 CULIACAN SINALOA</label>
				<label>RFC- RIGR640420TJ3 CURP RIGR640420HSLVTF04</label>
				<label>TEL PART. (667) 4-56-63-83, CEL (667) 2-10-02-52</label>
			</div>
		</div>
	</div>
	</center>
</body>
</html>