{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	<style type="text/css">
		.container{
			max-width: 1130px;
			width: 1130px;
		}
	</style>
</head>
<body>
	<div class="container">

		<div class="row">
			<div class="col-xs-4"><center><img width="60%" src="{% static 'images/logo.png' %}"></center></div>
			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-12">
						<h3><strong>ING. RAFAEL RIVERA GUTIÉRREZ</strong></h3>
					</div>
					<div class="col-xs-12">
						<strong style="font-size: 1.7em;font-weight:400;">CONSTRUCCIONES EN GENERAL</strong>
					</div>
				</div>
				<br />
				<p>&nbsp;</p>
				<div class="row">
					<div class="col-xs-12" style="font-size:1.3em;text-align: right;">
						<strong>
							Fecha: {{ reporte.fecha | date:'l, d \d\e F \d\e Y' }}
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
</body>
</html>