{% load humanize %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	<style type="text/css">
		.container{
			max-width: 1130px;
			width: 1130px;
			padding: 0px 8%;
		}
		.form-group>label{
			font-weight: 400;
			font-size: 1.3em;
			display: block;
			margin-top: -10px;
		}
		.form-group>strong>label{
			font-weight: 400;
			font-size: 1.3em;
			display: block;
			margin-top: -30px;
		}
	</style>
</head>
<body>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<div class="container">

		<form>
			<div class="form-group">
				<strong>
					<label>{{reporte.para.nombre}}</label>
					<br />
					<label>{{reporte.cliente.razon_social}}</label>
					<br />
					<label>{{reporte.nombre}}</label>
				</strong>
			</div>
			<p>&nbsp;</p>
			<div class="form-group">
				<label>Por medio de la presente y atendiendo una petición, hago llegar el siguiente presupuesto de trabajos en {{reporte.sucursal.nombre}}.</label>
			</div>
			<p>&nbsp;</p>
			
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Concepto</th>
						<th>Importe</th>
					</tr>
				</thead>
				<tbody>					
					{% for obra in reporte.obras %}
					<tr>
						<td colspan="2">
							<strong>{{obra.titulo}}</strong>
						</td>
					</tr>
					<tr>
						<td>{{obra.nombre}}</td>
						<td>$ {{obra.total |intcomma}}</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="2"><p>&nbsp;</p></td>
					</tr>
					<tr class="info">
						<td>Subtotal:</td>
						<td>$ {{reporte.subtotal |intcomma}}</td>
					</tr>
					<tr>
						<td>IVA (16%):</td>
						<td>$ {{reporte.iva |intcomma}}</td>
					</tr>
					<tr class="info">
						<td>Total:</td>
						<td>$ {{reporte.total |intcomma}}</td>
					</tr>
				</tbody>
			</table>
			
		</form>

		<br>

		<p>
		<center>
			{% if reporte.nota != '' %}
			NOTA.- {{reporte.nota}}
			{% endif %}
		</center>
		</p>

	</div>

</body>
</html>